.navbar {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #e5e7eb;
  background: white;
}

.logo {
  background: white;
  text-decoration: none;
  color: #392a48;
  font-size: 35px;
  padding: 12px 20px;
  border-radius: 6px;
  margin-right: 12px;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  color: #392a48;
}
.nav-user{
  margin-left: 30px;
  color: #392a48;
}
.nav-auth {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

