.hero {
  padding: 80px 20px;
  max-width: 1100px;
  margin: 0 auto;
  
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 35px;
  color: #555;
  max-width: 600px;
}

.hero-actions {
  margin-top: 24px;
}

.primary-btn {
  background: purple;
  font-size: 35px;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  margin-right: 12px;
}

.secondary-btn {
  border: 1px solid #392a48;
  font-size: 35px;
  text-decoration: none;
  color: #392a48;
  padding: 12px 20px;   
  border-radius: 6px;
}
