.tasks-header {
  text-align: center;

  margin: 0 auto;
}
.h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-button {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 6px 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: purple;
  color: white;
  cursor: pointer;
}
.search-bar {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.Tasks {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.Task-card {
  display: block;
  border: 2px solid black;
  margin-bottom: 30px;
  padding: 6px 10px;
  width: 400px;
  margin-left: 30px;
  border-radius: 10px;
}
